.main-home-page {
  width: 80%;
  margin: 2rem auto;
  h2 {
    text-align: center;
    margin: 3rem 0rem;
  }
  p {
    color: var(--color-text-main);
    font-family: var(--font-text);
  }
  .container-presentation {
    display: flex;
    align-items: center;
    gap: 2rem;
    img {
      border-radius: 3.12rem;
      width: clamp(10rem, 40vw, 22rem);
    }
    p {
      font-size: clamp(0.7rem, 1.5vw, 1.2rem);
    }
  }
  .container-value {
    margin: 5rem 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
    text-align: center;
    .number-value {
      font-size: 3rem;
      color: var(--color-text-main);
      font-weight: bold;
    }
    p {
      font-size: clamp(0.5rem, 1vw, 1rem);
    }
  }
  .container-acceuil-consultant {
    display: flex;
    justify-content: space-between;
    margin: 0 0 5rem 0;
    font-family: var(--font-text);
    article {
      text-align: center;
      img {
        width: 10rem;
      }
    }
  }
}

.link-offers {
  display: flex;
  gap: 2;
  justify-content: end;
}

.carrousel-next,
.carrousel-prev {
  position: absolute;
  top: 35%;
}
.carrousel-next {
  right: -5%;
}
.carrousel-prev {
  left: -5%;
}

@media screen and (max-width: 744px) {
  .main-home-page {
    .container-presentation {
      flex-direction: column;
      gap: 2rem;
      img {
        width: 80%;
      }
      p {
        font-size: 1rem;
      }
    }
  }
}

@media screen and (max-width: 391px) {
  .main-home-page {
    margin: 0 auto;
    h2 {
      margin: 2rem 0;
    }
    .container-presentation {
      flex-direction: column;
      gap: 2rem;
      img {
        width: 100%;
      }
      p {
        font-size: 1rem;
      }
    }
    .container-value {
      gap: 2rem;
      flex-direction: column;
      .number-value {
        font-size: 2rem;
      }
      p {
        font-size: 1rem;
      }
    }
    .container-acceuil-consultant {
      flex-direction: column;
      gap: 1rem;
    }
  }
  .carrousel-next {
    right: -10%;
  }
  .carrousel-prev {
    left: -10%;
  }
}
