.form-sign-up {
  position: relative;
  margin: auto;
  padding: 1rem 0;
  width: 55%;
  border: var(--border-main);
  border-radius: var(--border-radius-box);
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  .fieldset-sign-up {
    background-color: var(--color-background);
    border-radius: 1.2rem;
    margin: 1rem 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    border: solid var(--color-main);
    width: 90%;
    div {
      width: 70%;
      margin: 0.2rem;
      input {
        width: 100%;
      }
    }
  }
  input {
    width: 90%;
  }
  .link-register-login {
    position: absolute;
    bottom: 0;
    right: 0;
    margin-right: 2rem;
    margin-bottom: 1rem;
  }
  .link-register-login a {
    color: inherit;
    text-decoration: underline;
    cursor: pointer;
  }
  .link-register-login a:hover {
    color: var(--color-main);
  }
}
.error-message {
  position: absolute;
  top: 1%;
  right: 5%;
  background-color: var(--color-background-error-opacity);
  color: var(--color-text-black);
  padding: 1.5rem;
  border: var(--border-error);
  border-radius: var(--border-radius-box);
}
.confirm-input,
.confirm-input:hover,
.confirm-input:focus {
  border: var(--border-succes);
}

.refuse-input,
.refuse-input:hover,
.refuse-input:focus {
  border: var(--border-error);
}

@media screen and (max-width: 391px) {
  .form-sign-up {
    width: 90%;
    padding: 1rem 0;
    .fieldset-sign-up {
      margin: 0.5rem;
      input {
        margin: auto;
      }
    }
  }
  .link-register-login {
    display: none;
  }
  .error-message {
    background-color: var(--color-error);
  }
}
