.select-skills {
  padding-bottom: 1.5rem;
}
.form-skills {
  .button-submit {
    margin: auto;
    width: 6rem;
  }
}

@media screen and (max-width: 391px) {
  .form-skills {
    .button-submit {
      margin: auto;
      width: 6rem;
    }
  }
}
