.profil-title-is-active {
  margin: 1rem 20%;
  display: flex;
  justify-content: space-between;
  .is-active-button {
    width: 3rem;
    background-color: transparent;
    border: none;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }
}
.profil-header {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  .profil-avatar {
    width: 6%;
    border: var(--border-black);
    border-radius: var(--border-radius-button);
  }
  .profil-header-contact {
    display: flex;
    width: 60%;
    justify-content: space-between;
  }
  .profil-header-description {
    width: 60%;
  }
}
.buttons-profil {
  width: 60%;
  margin: 1rem 20%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 0rem;
  .profil-detail-link {
    margin: 1rem 0;
    background-color: var(--color-background);
    width: 49%;
    border: var(--border-black);
    border-radius: var(--border-radius-box);
    height: 3rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    p {
      display: flex;
      justify-content: center;
      align-items: center;
      grid-column: 2/3;
    }
    div {
      height: 100%;
      grid-column: 3/4;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  .profil-detail-link:hover {
    cursor: pointer;
    border: var(--border-main);
  }
  .button-modify-profil {
    margin: auto;
    width: 15rem;
    height: 2.5rem;
  }
}
@media screen and (max-width: 391px) {
  .profil-title-is-active {
    flex-wrap: wrap-reverse;
    margin: 1rem 10%;
    .profil-title {
      width: 100%;
      text-align: center;
    }
  }
  .profil-header {
    .profil-avatar {
      width: 20%;
    }
    .profil-header-name-location {
      text-align: center;
    }
    .profil-header-contact {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 80%;
    }
    .profil-header-description {
      width: 80%;
    }
  }
  .buttons-profil {
    margin: 2rem 10%;
    width: 80%;
    .profil-detail-link {
      width: 100%;
    }
  }
}
