.nav-front-container {
  background: rgb(0, 0, 0);
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(42, 42, 42, 1) 100%
  );
  height: 7rem;
  .nav-front-components {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    .logo-externatic-white {
      height: 6rem;
      margin-top: 0.5rem;
    }
    .logo-avatar-white {
      height: 4rem;
      margin-right: 5rem;
      margin-top: 0.5rem;
    }
    .logo-avatar-black {
      display: none;
    }
  }
}

.logo-externatic-black {
  display: none;
}

.dropdown-explore,
.dropdown-user {
  position: relative;
  display: inline-block;
  cursor: pointer;
  background: none;
  border: none;
}

/* Dropdown menu (hidden by default) */
.dropdown-explore-menu,
.dropdown-user-menu {
  position: absolute;
  width: 13rem;
  background-color: var(--color-background);
  border: 2px solid var(--color-main);
  border-radius: var(--border-radius-box);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  animation: slide-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  z-index: 2;
  .dropdown-link {
    display: block;
    text-decoration: none;
    color: var(--color-text-black);
    border-radius: var(--border-radius-box);
    padding: 2rem;
  }
  .dropdown-link:hover {
    background-color: var(--color-background-lightGrey);
  }
}

.dropdown-explore-menu {
  top: 100%;
  left: 5rem;
}

.dropdown-user-menu {
  top: 88%;
  right: 5rem;
  button.dropdown-link {
    border: none;
    background-color: inherit;
    width: 12.75rem;
  }
}

@keyframes slide-bottom {
  0% {
    transform: translateY(+10);
  }
  100% {
    transform: translateY(30px);
  }
}

@media screen and (max-width: 391px) {
  .nav-front-container {
    background: white;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 4rem;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
    z-index: 10;
    .nav-front-components {
      display: flex;
      align-items: center;
      justify-content: space-between;
      list-style: none;
      .logo-externatic-white {
        display: none;
      }
      .logo-avatar-white {
        display: none;
      }
      .logo-avatar-black {
        display: block;
        height: 2.8rem;
        margin-right: 2rem;
        margin-top: 0.5rem;
      }
    }
  }

  .logo-externatic-black {
    display: block;
    max-height: 6rem;
    min-height: 6rem;
    margin-left: 2rem;
    margin-bottom: 1rem;
  }

  .dropdown-explore,
  .dropdown-user {
    position: relative;
    display: inline-block;
    cursor: pointer;
  }

  .dropdown-explore-menu,
  .dropdown-user-menu {
    animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  }

  .dropdown-explore-menu {
    top: -320%;
    left: 2rem;
  }

  .dropdown-user-menu {
    right: 2rem;
    top: -310%;
    &.candidate-connected {
      top: -615%;
    }
  }

  @keyframes slide-top {
    0% {
      transform: translateY(20px);
    }
    100% {
      transform: translateY(0px);
    }
  }
}
