.profil-detail-link {
  margin: 1rem 0;
  background-color: var(--color-background);
  width: 60%;
  border: var(--border-black);
  border-radius: var(--border-radius-box);
  height: 3rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  p {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 2/3;
  }
  div {
    height: 100%;
    grid-column: 3/4;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.profil-detail-link:hover {
  cursor: pointer;
  border: var(--border-main);
}
@media screen and (max-width: 391px) {
  .profil-detail-link {
    width: 75%;
  }
}
