.nav-back-main {
  width: 14rem;
  height: 100%;
  position: fixed;
  display: flex;
  flex-direction: column;
}

.nav-back-logo-container {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: transparent;
}

.nav-logo {
  max-width: 5rem;
  height: auto;
}

.nav-back-container {
  background-color: var(--color-main);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav-back-components {
  margin-top: 1rem;
  list-style: none;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.nav-back-components li {
  margin: 1rem 0;
}

.nav-back-components a {
  text-decoration: none;
  color: var(--color-text-white);
  font-size: 1.1rem;
}
