.top-fieldset-offer {
  display: flex;
  justify-content: space-around;
  .title-offer-form {
    width: 70%;
    input {
      margin-left: 5%;
      width: 80%;
    }
  }
  padding: 0.5rem;
}
.bottom-part-offer {
  display: flex;
  justify-content: space-between;
  .fieldset-offer {
    padding: 0.5rem;
    width: 49%;
    .offer-form-longtext {
      display: flex;
      justify-content: space-between;
      textarea {
        width: 74%;
        height: 10rem;
        margin: 0.5rem 0;
      }
    }
    .offer-form-details {
      display: flex;
      flex-direction: column;
    }
  }
}

.validate-offer {
  margin: 0.5rem;
}
