.input-profil {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 1rem;
  justify-items: center;
  width: 80%;
}

input {
  height: 2rem;
  border-radius: var(--border-radius-box);
}

input:focus {
  outline: none;
}

@media screen and (max-height: 844px) and (max-width: 391px) {
  .input-profil {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0.3rem;
    input {
      width: 100%;
    }
  }
}
