input {
  border: var(--border-black);
  border-radius: var(--border-radius-box);
  outline: none;
  box-shadow: none;
  font-family: var(--font-text);
  font-size: var(--font-size-text);
  color: inherit;
  padding: 5px;
}

input:hover,
:focus {
  border: var(--border-main);
}
