.badge-offer-card {
  margin-left: 1rem;
  display: flex;
  gap: 0.5rem;
  margin-bottom: 0.6rem;
  margin-top: 0.6rem;
}

.badge-offer-detail {
  margin-left: 8rem;
  display: flex;
  gap: 2rem;
  margin-bottom: 0.6rem;
  margin-top: 0.6rem;
}

@media screen and (max-height: 844px) and (max-width: 391px) {
  .badge-offer-detail {
    margin-left: 0.7rem;
    display: flex;
    gap: 0.5rem;
    margin-bottom: 0.6rem;
    margin-top: 0.6rem;
  }
}
