.badge-offer-card {
  margin-left: 1rem;
  display: flex;
  gap: 0.5rem;
  margin-bottom: 0.6rem;
  margin-top: 0.6rem;
}

.badge-offer-detail {
  display: flex;
  gap: 2rem;
  align-items: center;
  margin: 0.6rem 0;
  width: 90%;
  div {
    width: 10%;
    img {
      width: 2rem;
    }
  }
}

@media screen and (max-height: 844px) and (max-width: 391px) {
  .badge-offer-detail {
    display: flex;
    gap: 0.1rem;
    margin-bottom: 0.6rem;
    margin-top: 0.6rem;
    width: 95%;
    div {
      width: 20%;
    }
  }
}
