.admin-layout,
.consultant-layout {
  display: flex;
  height: 100vh; /* Assure que l'ensemble de l'écran est couvert */
}

.content {
  margin-left: 14rem; /* Correspond à la largeur de la BackNav */
  padding: 2rem; /* Ajouter un peu de padding pour espacer le contenu des bords */
  width: calc(
    100% - 14rem
  ); /* Ajuste la largeur du contenu pour ne pas dépasser l'écran */
  overflow-y: auto; /* Permet de faire défiler le contenu s'il est trop grand */
}
