.modal-background {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.6);
}

.modal {
  position: absolute;
  top: 5%;
  left: 10%;
  right: 10%;
  bottom: 5%;
  background-image: url("../../../assets/images/background.png");
  background-size: cover;
  border-radius: var(--border-radius-box);
  padding: 1%;
  overflow-y: scroll;
  .close-modal {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    background: none;
    border: none;
    font-size: var(--font-size-text);
    color: var(--color-text-black);
  }
  .close-modal:hover {
    color: var(--color-main);
  }
}

@media screen and (max-width: 391px) {
  .modal {
    top: 1%;
    left: 1%;
    right: 1%;
    bottom: 1%;
  }
}
