.btn {
  background-color: var(--color-background);
  border-radius: var(--border-radius-button);
  border: var(--border-main);
  cursor: pointer;
  font-size: var(--font-size-text-label);
  font-weight: 550;
  height: 2rem;
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-text-black);
  transition: transform 0.9s ease;
}

.btn:hover {
  background-color: var(--color-main);
  color: var(--color-text-white);
  font-weight: 600;
  transform: scale(1.1);
}

.btn-apply {
  color: var(--color-text-white);
  font-size: var(--font-size-text);
  border: 2px solid black;
  border-radius: 0.5rem;
  padding: 0.5rem 2rem;
  text-decoration: none;
  height: 2.5rem;
}
.apply-not {
  background-color: var(--color-main);
  width: 8rem;
}
.apply-yes {
  background-color: var(--color-button-hover);
  cursor: default;
  width: 15rem;
}
.apply-yes:hover {
  transform: none;
  background-color: var(--color-button-hover);
  font-weight: 400;
}
.btn-apply-bottom {
  position: relative;
  left: 84%;
  background-color: var(--color-main);
  color: var(--color-text-white);
  font-size: var(--font-size-text);
  border: 2px solid black;
  border-radius: 0.5rem;
  cursor: pointer;
  padding: 0.5rem 2rem;
  text-decoration: none;
  height: 2.5rem;
  width: 8rem;
}
.apply-btn-not {
  display: none;
}

@media screen and (max-width: 391px) {
  .btn-apply {
    min-height: 2rem;
    width: 6rem;
  }
  .btn-apply-bottom {
    position: relative;
    left: 70%;
    width: 6rem;
  }
}
