.btn {
  background-color: var(--color-main);
  border-radius: var(--border-radius-button);
  border-style: none;
  color: var(--color-text-white);
  cursor: pointer;
  font-size: var(--font-size-text-label);
  font-weight: 600;
  min-height: 2rem;
  min-width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn:hover,
.btn:focus {
  background-color: var(--color-button-hover);
}
