.form-profil {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  flex-direction: column;
  .fieldset-profil {
    background-color: var(--color-background);
    border-radius: 1.2rem;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    border: solid var(--color-main);
    .input-profil {
      display: grid;
      grid-template-columns: 1fr 1fr;
      margin: 0.2rem;
      justify-items: center;
      width: 90%;
    }
    .textarea-form {
      width: 90%;
      height: 8rem;
      margin-bottom: 1rem;
      text-align: center;
    }
  }
}
