.style-title-offer {
  margin-left: 6rem;
  margin-top: 2rem;
  margin-bottom: 3rem;
}

.logo-container {
  border: var(--border-black);
  border-radius: var(--border-radius-box);
  background-color: var(--color-background);
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 1rem;
  margin-top: 1rem;
  margin-bottom: 5rem;
  margin-left: auto;
  margin-right: auto;
  height: 15rem;
  width: 80%;
}

.style-article-offer {
  margin-left: 6rem;
  margin-bottom: 1.5rem;
  margin-right: 8rem;
}

.aucune-candidature {
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 391px) {
  .style-title-offer {
    width: 85%;
    margin: auto;
  }

  .style-article-offer {
    width: 85%;
    margin: 2rem auto;
  }
  .logo-container {
    border: var(--border-black);
    border-radius: var(--border-radius-box);
    background-color: var(--color-background);
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0.5rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
    height: 25rem;
    width: 85%;
  }
}
