.offer-list-title {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  margin-bottom: 3rem;
}

.offer-ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-left: 14rem;
  margin-right: 14rem;
  list-style: none;
}

@media screen and (max-height: 844px) and (max-width: 391px) {
  .offer-list-title {
    display: none;
  }

  .offer-ul {
    display: grid;
    grid-template-columns: 1fr;
    margin-left: 0rem;
    margin-right: 0rem;
  }
}
